@charset "utf-8";
@import "global.css";

/* 后台 */
.bg-body{
  background-color: #F0F2F5;
}
.header{
  height: 66px;
  border-bottom: 1px solid  #E8E8E8;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
}
.header > span{
  display: block;
  padding-left: 20px;
}
.header > span img{
  height: 36px;
}
.header > div{
  display: block;
  padding: 0 20px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}
.header > div a{
  color: #333;
  margin: 0 10px;
}
/* container */
.container-wrap{
  padding: 20px;
}
.container{
  background-color: #fff;
  padding: 20px;
  min-height: 500px;
}
/* 新增表单 */
.doc-form li label{
  display: block;
  padding: 5px 0;
}
.doc-form li input[type=text]{
  border: none;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  background-color: #fafafa;
  width: 100%;
  font-size: 14px;
}
.doc-form li textarea{
  background: #fafafa;
  padding: 10px;
  min-height: 300px;
  border: none;
  width: 100%;
  font-size: 14px;
}
.btn{
  border: none;
  line-height: 30px;
  text-align: center;
  background-color: #08f;
  color: #fff;
  border-radius: 5px;
  min-width: 100px;
  margin: 0 auto;
  cursor: pointer;
}
.tips{
  text-align: center;
  color: #f00000;
  font-weight: bold;
}
/* 标题 */
.table td,
.table th{
  text-align: left;
  padding: 8px 10px;
}
.table td{
  border-bottom: 1px solid  #000;
}
