@charset "utf-8";
@import "global.css";
body{
  background-color: #F0F2F5;
}
/* 头部 */
.header{
  height: 66px;
  border-bottom: 1px solid  #E8E8E8;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
}
.header > span{
  display: block;
  padding-left: 20px;
}
.header > span img{
  height: 36px;
}
.header > div{
  display: block;
  padding: 0 12px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}
.header > div a{
  display: inline-block;
  height: 28px;
  line-height: 28px;
  color: #333;
  margin: 0 10px;
}
/* 工具栏 */
.toolbar{
  height: 45px;
  background-color: #fff;
  border-bottom: 1px solid  #E8E8E8;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: flex-start;
  padding: 0 20px 0 10px;
}
.toolbar > div{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.publish{
  display: block;
  width: 80px;
  height: 28px;
  line-height: 28px;
  border-radius: 5px;
  color: #fff;
  background-color: #9C0;
  border: none;
  text-align:  center;
  font-size:  14px;
}
.publish:hover{
  color: #fff;
}
.ad-container{
  width: 1280px;
  margin: 20px auto;
  padding-top: 10px;
  background-color: #fff;
}
.ad-title{
  background-color: #fff;
  padding: 0 50px;
}
.ad-title input{
  border: none;
  width: 100%;
  font-size: 25px;
  background: none;
  height: 80px;
  line-height: 80px;
  background-color: transparent;
  border-bottom: 1px dashed #D9DADC;
}
.ad-article{
  background-color: #fff;
  padding: 30px 40px;
  height: 700px;
  min-height: 700px;
  font-size: 16px;
}
.art-area {
  background-color: #fff;
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
}
.ad-list {
  min-height: 800px;
  padding: 0 30px;
}
/* 表格 */
.table td,
.table th{
  text-align: left;
  padding: 12px 10px;
}
.table th{
  font-size: 14px;
  border-bottom: 1px solid #f1f1f1;
}
.table td{
  border-bottom: 1px solid #f1f1f1;
}
[v-cloak]{
  display: none !important;
}
/* 列表工具栏 */
.list-bar{
  height: 45px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(232, 232, 232);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: flex-start;
  padding: 0 20px 0 10px;
}
.list-bar .list-name{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 10px;
  color: #ccc;
}
.list-bar .list-name span{
  margin-right: 5px;
}
.list-bar .list-name span:last-child{
  color: #555;
}
.list-bar .list-name em{
  font-size: 16px;
  margin-right: 3px;
}
/* 详情页 */
.view-title{
  font-size: 25px;
  background: none;
  height: 80px;
  line-height: 80px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #eee;
}
.view-content {
  padding: 10px;
}
/* 知识库 */
.library{
  padding: 10px 30px 0;
  font-size: 16px;
  min-height: 800px;
}
.library h3{
  padding: 10px;
  font-size: 16px;
}
.library li{
  margin: 5px 5px 5px 20px;
}
.add-lib{
  padding: 20px 10px;
  border-top: 1px solid  #eee;
}
.lib-list{
  padding-bottom: 50px;
}
