@charset "utf-8";
@import "global.css";
body{
  background-color: #F0F2F5;
  min-width: 1280px;
  overflow: hidden;
}
/* 滚动条 */
::-webkit-scrollbar {
	width: 8px !important;
	height: 8px !important;
	background-color: transparent !important;
	border-radius: 8px !important;
}
::-webkit-scrollbar:hover {
	background-color: #fff !important;
}
::-webkit-scrollbar-thumb{
	background-color: inherit !important;
	border-radius: 8px !important;
	background-clip: content-box !important;
	border: 2px solid transparent !important;
}
::-webkit-scrollbar-track {
  background: #fff !important;
}
::-webkit-scrollbar-thumb:hover {
	background-clip: content-box !important;
}
/* 鼠标滑过编辑区 */
.view-warp,
.article-origin,
.article-marked{
  -webkit-transition: background-color .5s linear !important;
  background-color: rgb(255, 255, 255) !important;
}
.view-warp:hover,
.article-origin:hover,
.article-marked:hover {
  background-color: #cfcfcf !important;
}
.article-marked .marked-parse{
  background-color: #FFFFFF !important;
  padding: 20px !important;
  min-height: 100% !important;
}
/* 头部 */
.header{
  height: 66px;
  border-bottom: 1px solid  #E8E8E8;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  position:  fixed;
  top: 0;
  left:  0;
  right:  0;
  z-index:  99999;
}
.header .logo{
  display: block;
  padding-left: 20px;
}
.header .logo img{
  height: 36px;
}
.header .menu{
  display: block;
  padding: 0 12px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}
.header .menu > a{
  display: inline-block;
  color: #333;
  margin: 0 10px;
}
/* 文档下拉 */
.dropdown-lib{
  position: relative;
}
.dropdown-lib ul{
  position: absolute;
  z-index: 999999;
  top: 22px;
  left: -85px;
  width: 200px;
  border: 1px solid  #eee;
  padding: 10px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  border-radius: 2px;
  display: none;
}
.dropdown-lib li{
  color: #888;
  padding: 8px 10px;
  word-break: keep-all;
  text-align: left;
}
.dropdown-lib li:hover{
  background-color: #f1f1f1;
}
.dropdown-lib ul::before{
  content: '';
  display: block;
  height: 30px;
  position: absolute;
  top: -25px;
  width: 100%;
  left: 0;
}
.dropdown-lib ul::after{
  content: '';
  display: block;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  border-color: transparent;
  border-style: solid;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-top-left-radius: 2px;
  margin-top: -2px;
  top: -6px;
  -webkit-box-shadow: -2px -3px 5px rgba(0,0,0,.06);
  box-shadow: -2px -3px 5px rgba(0,0,0,.06);
  z-index: 999;
}
/* 工具栏 */
.toolbar{
  height: 45px;
  background-color: #fff;
  border-bottom: 1px solid  #E8E8E8;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: flex-start;
  padding: 0 20px 0 10px;
  position: fixed;
  top: 66px;
  left: 0;
  right: 0;
  z-index: 99;
}
.toolbar .tb-left{
  padding-right: 10px;
}
.toolbar .tb-middle{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.toolbar .tb-right{

}
/* 格式栏 */
@font-face {
  font-family: fontello;
  src: url(../fonts/fontello.e73a064.eot);
  src: url(../fonts/fontello.e73a064.eot#iefix) format("embedded-opentype"),url(../fonts/fontello.a782baa.woff) format("woff"),url(../fonts/fontello.068ca2b.ttf) format("truetype"),url(fonts/fontello.9354499.svg#fontello) format("svg");
  font-weight: 400;
  font-style: normal
}
.toolbar .tb-format ul{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: flex-start;
}
.toolbar .tb-format ul li{
  margin-right: 4px;
  position: relative;
}
.toolbar .tb-format li i{
  display: block;
  cursor: pointer;
  height: 28px;
  line-height: 28px;
  width: 28px;
  color: #757575;
  border-radius: 5px;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  vertical-align: middle;
}
.toolbar .tb-format li i.active,
.toolbar .tb-format li i:hover{
  color: #000;
  background: #e8e8e8;
}
.toolbar .tb-format li:nth-child(5)::after,
.toolbar .tb-format li:nth-child(4)::after,
.toolbar .tb-format li:nth-child(3)::after{
  display: block;
  width: 5px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 22px;
  font-weight: bold;
  font-size:  12px;
  color:  #757575;
}
.toolbar .tb-format li:nth-child(3)::after{
  content: '1';
}
.toolbar .tb-format li:nth-child(4)::after{
  content: '2';
}
.toolbar .tb-format li:nth-child(5)::after{
  content: '3';
}
.toolbar .tb-format li:nth-child(5) i,
.toolbar .tb-format li:nth-child(3) i,
.toolbar .tb-format li:nth-child(4) i{
  margin-left: 5px;
  padding-left: 4px;
  text-align: left;
  width: 24px;
}
/* 分割线 */
.toolbar .tb-format li:nth-child(5)::before{
  content: '';
  display: block;
  width: 1px;
  height: 25px;
  position: absolute;
  top: 2px;
  right: -10px;
  background-color: rgb(229, 229, 229);
  z-index:  999;
}
/* 字体图标 */
[class*="ad-format-"]:before,
[class^="ad-format-"]:before {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ad-format-bold:before {
  content: "\E800";
}
.ad-format-italic:before {
  content: "\E801";
}
.ad-format-underline:before {
  content: "\F0CD";
}
.ad-format-strikethrough:before {
  content: "\F0CC";
}
.ad-format-table:before {
  content: "\F0CE";
  font-size: 16px;
}
.ad-format-code:before {
  content: "\F121";
  font-size: 16px;
}
.ad-format-linkto:before {
  content: "\E803";
  font-size: 14px;
}
.ad-format-listol:before {
  content: "\F0CB";
}
.ad-format-headline3:before,
.ad-format-headline2:before,
.ad-format-headline1:before{
  content: "\F1DC";
}
.toolbar .tb-format li:nth-child(6) i{
  margin-left: 12px;
}
/* 发布按钮 */
.publish{
  display: block;
  width: 80px;
  height: 28px;
  line-height: 28px;
  border-radius: 5px;
  color: #fff;
  background-color: #9C0;
  border: none;
  text-align: center;
  font-size: 14px;
}
.publish:hover{
  color: #fff;
}
.ad-container{
  background-color: #fff;
  position: fixed;
  top: 135px;
  bottom: 20px;
  left: 50px;
  right: 50px;
  overflow: hidden;
}
.ad-title{
  background-color: #fff;
  padding: 0 50px;
  position: relative;
}
.ad-title::before,
.ad-title::after{
  display: block;
  position: absolute;
  top: 80px;
  width: 66px;
  height: 22px;
  line-height: 20px;
  text-align: center;
  background-color: rgba(221, 221, 221, 0.88);
  color: #fff;
  z-index: 99;
  font-size: 12px;
}
.ad-title::before{
  content: 'markdown';
  left: 50%;
  margin-left: -66px;
}
.ad-title::after{
  content: 'preview';
  left: 100%;
  margin-left: -116px;
}
.ad-title input{
  border: none;
  width: 100%;
  font-size: 25px;
  background: none;
  height: 80px;
  line-height: 80px;
  background-color: transparent;
  border-bottom: 1px dashed #D9DADC;
}
.ad-article{
  background-color: rgb(255, 255, 255);
  padding: 0 40px 30px;
  font-size: 16px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: -webkit-calc(100% - 80px);
}
.ad-article.editor{
  padding: 30px 40px 10px;
}
.article-marked,
.article-origin{
  flex: 0 0 50%;
  position: relative;
  height: 100%;
  overflow: auto;
  margin:  0;
}
.article-marked{
  border-left: 8px solid rgb(240, 242, 245);
}
.art-area {
  background-color: #fff;
  border: none;
  width: 100%;
  padding: 38px 10px 10px;
  font-size: 14px;
  font-family: inherit;
  color: #333;
  overflow: auto;
  resize: none;
  margin: 0;
  vertical-align: top;
  min-height: 100%;
  box-sizing: border-box;
}
.ad-list {
  min-height: 800px;
  padding: 0 30px;
}
/* 表格 */
.ad-table table{
  width: 100%;
}
.ad-table td,
.ad-table th{
  text-align: left;
  padding: 12px 10px;
}
.ad-table th{
  font-size: 14px;
  border-bottom: 1px solid #f1f1f1;
}
.ad-table td{
  border-bottom: 1px solid #f1f1f1;
}
[v-cloak]{
  display: none !important;
}
/* 列表工具栏 */
.list-bar{
  height: 45px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(232, 232, 232);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: flex-start;
  padding: 0 20px 0 10px;
  position: fixed;
  top: 66px;
  left: 0;
  right: 0;
  z-index: 99;
}
.list-bar .list-name{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 10px;
  color: #ccc;
}
.list-bar .list-name span{
  margin-right: 5px;
}
.list-bar .list-name span:last-child{
  color: #555;
}
.list-bar .list-name em{
  font-size: 16px;
  margin-right: 3px;
}
/* 详情页 */
.view-title{
  font-size: 25px;
  background: none;
  height: 80px;
  line-height: 80px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #eee;
}
.view-content {
  padding: 10px;
  width:  100%;
}
/* 知识库 */
.library{
  padding: 10px 30px 0;
  font-size: 16px;
  min-height: 800px;
}
.library h3{
  padding: 10px;
  font-size: 16px;
}
.library li{
  margin: 5px 5px 5px 20px;
}
.add-lib{
  padding: 20px 10px;
  border-top: 1px solid  #eee;
}
.lib-list{
  padding-bottom: 50px;
}
/* 字体样式 */
.icon-jiantou32:before{
  color: #999;
 }
 .icon-document{
   color: #666;
   font-size: 15px !important;
   margin-right: 5px;
 }
 .icon-wenhao {
   color: #FAAD14;
   font-size: 26px !important;
   vertical-align: middle;
   margin-right: 3px;
 }
/* 操作提示层 */
.ad-alert{
  position: absolute;
  top: 147px;
  left: 50%;
  border-radius: 0;
  background-color: rgba(102, 181, 80, 1);
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 125px;
  padding: 4px 20px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
  font-weight:  bold;
}
/* 对话框 */
.mask {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(128, 128, 128, 0);
}
.dialog {
  position: fixed;
  z-index: 9999;
  width: 80%;
  max-width: 410px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 25px 0 rgba(0, 0,0, .15);
}
.dialog .dialog-header{
  padding: 10px 10px 20px 20px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  text-align:  left;
  font-weight:  bold;
}
.dialog .dialog-body{
  padding: .8rem;
  text-align: left;
  min-height: 123px;
  color: #999;
}
.dialog .dialog-footer{
  text-align: center;
  min-height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  padding: 10px 10px 20px 10px;
}
.dialog .dialog-footer::before{
  content: '';
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.dialog .dialog-footer .btn{
  border-radius: 3px;
  height: 32px;
  min-width: 75px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ddd;
  cursor: pointer;
  margin: 0 6px;
  padding: 5px 10px;
}
.dialog .dialog-footer .primary{
  color: #9C0;
  border: 1px solid  #9C0;
}
.dialog span.close{
  position: absolute;
  display: block;
  top: -15px;
  right: -15px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  background-color: #ED770D;
}
.dialog .dialog-close{
  position: absolute;
  top: 0.3rem;
  right: 0.2rem;
  font-style: normal;
  font-size: 21px;
  color: #4572EF;
  background-color: #fff;
  width: .4rem;
  height: .4rem;
  line-height: .31rem;
  border-radius: 50%;
  padding-left: .02rem;
  z-index: 9999;
}
.info-del{
  padding: 30px 20px 10px 35px !important;
  font-size: 18px !important;
  color: #333 !important;
}
.info-del span{
  display: inline-block;
  vertical-align: middle;
}
.view-warp{
  overflow: auto;
}
.view-warp .ad-article{
  min-height: 100% !important;
  height: auto;
}
.art-title{
  padding: 20px 0 30px;
  font-size: 28px;
  font-weight: 500 !important;
  font-family: Lato, "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
