/* 覆盖全局样式，避免影响marked的展示*/

.marked-parse{
  font-size: 14px;
  color: #314659;
}
.marked-parse strong > em,
.marked-parse b > i{
  font-style:normal;
  font-weight:normal;
  text-decoration:underline;
}
/* 标题 */
.marked-parse h1,
.marked-parse h2,
.marked-parse h3{
  font-weight: 500;
  color: #0d1a26;
  clear: both;
  margin: 1.6em 0 0.6em;
}
.marked-parse h1 {
  margin: 0 0 .6em;
  font-size: 30px;
  line-height: 32px;
}
.marked-parse h2 {
  font-size: 24px !important;
}
.marked-parse h3{
  font-size: 18px !important;
}
/* 表格 */
.marked-parse table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.2em auto;
  padding: 0;
  /*display: block;   使width不能100%，在特殊情况比较有用*/
  overflow-x: auto;
  width: 100%;
}
.marked-parse table td,
.marked-parse table th {
  line-height: 1.5em;
  padding: 0.4em 0.8em;
  border: none;
  border: 1px solid #ddd;
}
.marked-parse table th {
  font-weight: bold;
}
.marked-parse table th,
.marked-parse table tr:nth-child(2n) {
  background-color: #f8f8f8;
}


/* 代码块 */
.markdown-parse pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
  word-wrap: normal;
}
.marked-parse pre > code{
  background: #F8F8F8;
  border-radius: 3px;
  font-size: 90%;
  padding: 10px 20px;
  display: block;
  position: relative;
}
.marked-parse pre > code::before {
  position: absolute;
  top: 5px;
  right: 0px;
  color: rgb(204, 204, 204);
  text-align: right;
  font-size: 14px;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
.marked-parse pre > code.language-js::before{
  content: 'JS';
}
.marked-parse pre > code.language-html::before{
  content: 'HTML';
}
 /* 段落：回车换行 一次回车生成<br>，两次回车<p> */
.marked-parse p {
  line-height: 2em;
  word-spacing: 0.05em;
  margin: 1.2em 0;
  position: relative;
  z-index: 1;
}

/* 链接 */
.marked-parse a{
  color: rgb(32, 123, 208);
}

/* 序列 */
.marked-parse ul,
.marked-parse ol{
  line-height: 1.6em;
  position: relative;
  z-index: 1;
}
.marked-parse ol li,
.marked-parse ul li{
  margin-left: 20px;
  padding: 4px 3px;
  list-style-type: circle !important;
}
.marked-parse ol li{
  list-style-type: decimal !important;
}

/* 引用 */
.marked-parse blockquote{
  font-size: 90%;
  color: #697b8c;
  border-left: 4px solid #ebedf0;
  padding-left: 0.8em;
  margin: 1em 0;
  background-color: #fff;
}
.marked-parse blockquote > P{
  margin: 0;
  padding: 0;
}

/* code 部分文字加亮 */
.marked-parse code:not([class]){
  margin: 0 1px;
  background: #f2f4f5;
  padding: .2em .4em;
  border-radius: 3px;
  font-size: .9em;
  border: 1px solid #eee;
  box-sizing: border-box;
}




/*
 * ant-design 代码和演示组合效果
*/
/* demo */
.marked-parse .demo{
  background-color: #fff;
  border: 1px solid #EBEDF0;
  border-radius: 2px;
  padding: 40px 25px;
  margin-bottom: 1em;
  font-size: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: auto;
  position: relative;
}
.marked-parse .demo i.show-code{
  position: absolute;
  bottom: 10px;
  right: 13px;
  width: 30px;
  height: 20px;
  display: block;
  background-image: url(../images/show-code.svg);
  opacity: .5;
  background-size: 60%;
  cursor: pointer;
  -webkit-transition: all .5s linear;
}
.marked-parse .demo i.show-code.active,
.marked-parse .demo i.show-code:hover{
  background-image: url(../images/show-code-active.svg);
  opacity: 1;
}
/* demo 后的code标签 */
.marked-parse .demo + pre code{
  margin-top: -1.5em;
  border: 1px solid  #EBEDF0;
  border-top: 1px dashed #EBEDF0;
  background-color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 16px 32px;
  color: #666;
}
