<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<link rel="shortcut icon" href="#" />
<script src="/javascripts/vue.js"></script>
<script src="/javascripts/vue-router.js"></script>
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="/stylesheets/apitool.css">
<link rel="stylesheet" href="/stylesheets/marked.css">
<script src="/javascripts/marked.min.js"></script>
<title></title>
<script>
//获取url参数--封装
(function($){
  $.getUrlParam = function(name){
    var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if (r!=null) return unescape(r[2]); return null;
  }
})(jQuery);
$(function(){
  var sch = $(".art-area")[0].scrollHeight
  $(".art-area").css("height", (sch + 10) + "px")
})
</script>
</head>
<body>
<div id="apitool">
  <!-- 头部组件 -->
  <header-comp></header-comp>
  <!-- //头部组件 -->
  <!-- 工具栏 -->
  <div class="toolbar">
    <div>
      <img src="/images/toolbar.png">
    </div>
    <a href="javascript:;" class="publish" @click="save">保存</a>
  </div>
  <!-- //工具栏 -->
  <!-- 编辑区 -->
  <div class="ad-container" v-cloak>
    <!-- 标题 -->
    <div class="ad-title">
      <input  name="title" v-model="title" type="text"  placeholder="">
    </div>
    <!-- //标题 -->
    <div class="ad-article">
      <div class="article-origin">
        <textarea name="content" ref="texta"  v-model="content"  class="art-area" placeholder="" @input="autoHeight"></textarea>
      </div>
      <div class="article-marked">
        <!-- marked -->
        <div class="marked-parse" id="marked-content" v-html="markedContent">

        </div>
        <!-- //marked -->
     </div>
   </div>
  </div>
  <!-- //编辑区 -->
  <!-- 保存提示 -->
  <div class="ad-alert" v-if="success">
    <i class="iconfont icon-success"></i>  {{ msg }}
  </div>
  <!-- //保存提示 -->
</div>
<script src="/javascripts/header.js"></script>
<script type="text/javascript">
var vm = new Vue({
  el: '#apitool',
  components: {
    headerComp: HeaderComp
  },
  data: {
    title: "",
    content: "",
    id: "",
    msg: "",
    success: false
  },
  computed:{
    markedContent:function(){
      return marked(this.content)
    }
  },
  created: function(){
    var _this = this
    _this.id = $.getUrlParam('id')
    // 查看对应id的数据
    $.ajax({
			type: "get",
			url: "./edit?id=" + _this.id,
			dataType: "json",
			success: function(res){
        _this.title = res.title
        _this.content = res.content

			}
	  })

	},
  methods:{
    // 保存
    save: function(){
      var _this = this
      $.ajax({
  			type: "post",
  			url: "./save",
        data:{
          id: this.id,
          title: this.title,
          content: this.content
        },
  			dataType: "json",
  			success: function(res){
          _this.msg = res.message
          _this.success = true
          setTimeout(function(){
            window.location.href = "/article/list_article.html"
          },1000)
  			}
  		})
    },

    // textarea高度自适应
    autoHeight: function(event) {
      var _this = this
      var $el = $(event.target)
      $el.css("height", "auto")
      $el.css("height", ($el[0].scrollHeight + 10 )+ "px")
    }
  }
})
</script>

</body>
</html>
